name: PM2 Server CI
run-name: Deploy to Ubuntu Server 
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: '20'

      - name: Install Dependencies
        uses: npm install

      - name: Restart PM2
        uses: npm restart

      