name: PM2 Server CI Test 2
run-name: Deploy to Ubuntu Server 
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with: 
          node-version: "20.x"

      - name: Install dependencies
        run: npm install

      - name: Start PM2
        run: npm start

      
